<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> istagram </title>
</head>
<body>
    <h3> this page belong to @ <%= username %></h3>
    <button> follow</button>
    <button> message </button>

    <h3>  this page belong to :@<%=data%> </h3>
    <h3>message</h3>
    <h3>follow</h3>
</body>
</html>