<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Roll dice</title>
</head>
<body>
    <h1> dice give value = <%= niti %></h1>
    <% if (niti==6){%>
        <h2>nice! roll again</h2>
   <% } %>
</body>
</html>